* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.img {
  background-image: url("./assets/sunset.jpg");
  height: 100vh;
  width: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
